In [1]:
import pandas as pd
import numpy as np
import datetime
import os

In [91]:
PATH_CUBA_CSV =
df=pd.read_csv(PATH_CUBA_CSV,low_memory=False,parse_dates=['fecha_confirmacion'])

In [92]:
df = df[['sexo', 'provincia', 'fecha_confirmacion']]
df=df.fillna(0)
df

          sexo        provincia fecha_confirmacion
0       hombre  Sancti Spíritus         2020-03-11
1        mujer  Sancti Spíritus         2020-03-11
2        mujer  Sancti Spíritus         2020-03-11
3       hombre      Villa Clara         2020-03-13
4       hombre        La Habana         2020-03-16
...        ...              ...                ...
121833       0       Guantánamo         2021-05-13
121834       0       Guantánamo         2021-05-13
121835       0       Guantánamo         2021-05-13
121836       0       Guantánamo         2021-05-13
121837       0       Guantánamo         2021-05-13

[121838 rows x 3 columns]

In [93]:
df=df.groupby(['provincia','fecha_confirmacion'],as_index=True).count()
df

                                sexo
provincia   fecha_confirmacion
0           2020-08-20             4
Artemisa    2020-03-20             1
            2020-03-24             1
            2020-03-28             1
            2020-03-29             3
...                              ...
Villa Clara 2021-05-09            11
            2021-05-10            18
            2021-05-11            13
            2021-05-12            14
            2021-05-13            13

[3683 rows x 1 columns]

In [94]:
df.reset_index(inplace=True)

In [95]:
df

        provincia fecha_confirmacion  sexo
0               0         2020-08-20     4
1        Artemisa         2020-03-20     1
2        Artemisa         2020-03-24     1
3        Artemisa         2020-03-28     1
4        Artemisa         2020-03-29     3
...           ...                ...   ...
3678  Villa Clara         2021-05-09    11
3679  Villa Clara         2021-05-10    18
3680  Villa Clara         2021-05-11    13
3681  Villa Clara         2021-05-12    14
3682  Villa Clara         2021-05-13    13

[3683 rows x 3 columns]

In [100]:
df['provincia']=df['provincia'].astype('str')
df['sexo']=df['sexo'].astype('str')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3683 entries, 0 to 3682
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   provincia           3683 non-null   object
 1   fecha_confirmacion  3683 non-null   datetime64[ns]
 2   sexo                3683 non-null   object
 3   ISO 3166-2 Code     0 non-null      object
dtypes: datetime64[ns](1), object(3)
memory usage: 115.2+ KB

In [102]:
DICT_PLACES={'Artemisa': 'CU-15',
 'Camagüey': 'CU-09',
 'Ciego de Ávila': 'CU-08',
 'Cienfuegos': 'CU-06',
 'Granma': 'CU-12',
 'Guantánamo': 'CU-14',
 'Holguín': 'CU-11',
 'Isla de la Juventud': 'CU-99',
 'La Habana': 'CU-03',
 'Las Tunas': 'CU-10',
 'Matanzas': 'CU-04',
 'Mayabeque': 'CU-16',
 'Pinar del Río': 'CU-01',
 'Sancti Spíritus': 'CU-07',
 'Santiago de Cuba': 'CU-13',
 'Villa Clara': 'CU-05'}

df['ISO 3166-2 Code']=df['provincia'].map(DICT_PLACES)
df

        provincia fecha_confirmacion sexo ISO 3166-2 Code
0               0         2020-08-20    4             NaN
1        Artemisa         2020-03-20    1           CU-15
2        Artemisa         2020-03-24    1           CU-15
3        Artemisa         2020-03-28    1           CU-15
4        Artemisa         2020-03-29    3           CU-15
...           ...                ...  ...             ...
3678  Villa Clara         2021-05-09   11           CU-05
3679  Villa Clara         2021-05-10   18           CU-05
3680  Villa Clara         2021-05-11   13           CU-05
3681  Villa Clara         2021-05-12   14           CU-05
3682  Villa Clara         2021-05-13   13           CU-05

[3683 rows x 4 columns]

In [103]:
df_template=pd.read_csv('https://raw.githubusercontent.com/DataScienceResearchPeru/covid-19_latinoamerica/master/latam_covid_19_data/templates/daily_report.csv')
df_template=df_template.fillna(0)
df_template['Confirmed']=df_template['Confirmed'].astype(int)
df_template['Deaths']=df_template['Deaths'].astype(int)
df_template['Recovered']=df_template['Recovered'].astype(int)
df_template['Last Update']=''
df_template.head()

,ISO 3166-2 Code,Country,Subdivision,Last Update,Confirmed,Deaths,Recovered
0,AR-B,Argentina,Buenos Aires,0.0,0,0,0
1,AR-K,Argentina,Catamarca,0.0,0,0,0
2,AR-H,Argentina,Chaco,0.0,0,0,0
3,AR-U,Argentina,Chubut,0.0,0,0,0
4,AR-C,Argentina,Ciudad Autonoma de Buenos Aires,0.0,0,0,0

In [112]:
df[df['fecha_confirmacion']=='2021-05-10']

             provincia fecha_confirmacion sexo ISO 3166-2 Code
255           Artemisa         2021-05-10   41           CU-15
474           Camagüey         2021-05-10   62           CU-09
748     Ciego de Ávila         2021-05-10    4           CU-08
935         Cienfuegos         2021-05-10   21           CU-06
1117            Granma         2021-05-10   45           CU-12
1304        Guantánamo         2021-05-10   18           CU-14
1524           Holguín         2021-05-10   73           CU-11
2031         La Habana         2021-05-10  559           CU-03
2212         Las Tunas         2021-05-10   10           CU-10
2493          Matanzas         2021-05-10   32           CU-04
2702         Mayabeque         2021-05-10   58           CU-16
2957     Pinar del Río         2021-05-10   48           CU-01
3208   Sancti Spíritus         2021-05-10   15           CU-07
3435  Santiago de Cuba         2021-05-10   67           CU-13
3679       Villa Clara         2021-05-10   18           CU-05

In [11]:
day='2021-05-13'
df_filtered_by_day=df[df['fecha_confirmacion']==day]

for country_region in df_filtered_by_day['ISO 3166-2 Code']:
    value_confirmed=df.loc[(df['ISO 3166-2 Code']==country_region) & (df['fecha_confirmacion']==day),'sexo']
    df_template.loc[df_template['ISO 3166-2 Code']==country_region,'Confirmed']=int(value_confirmed)

# Delete 0.0
df_template['Confirmed']=df_template['Confirmed'].astype(int)
df_template.loc[df_template['ISO 3166-2 Code'].str.contains('CU-')]

,ISO 3166-2 Code,Country,Subdivision,Last Update,Confirmed,Deaths,Recovered
116,CU-15,Cuba,Artemisa,2021-05-15T01:15:53.925787,44,0,0
117,CU-09,Cuba,Camagüey,2021-05-15T01:15:53.925787,23,0,0
118,CU-08,Cuba,Ciego de Ávila,2021-05-15T01:15:53.925787,32,0,0
119,CU-06,Cuba,Cienfuegos,2021-05-15T01:15:53.925787,39,0,0
120,CU-12,Cuba,Granma,2021-05-15T01:15:53.925787,79,0,0
121,CU-14,Cuba,Guantánamo,2021-05-15T01:15:53.925787,10,0,0
122,CU-11,Cuba,Holguín,2021-05-15T01:15:53.925787,43,0,0
123,CU-99,Cuba,Isla de la Juventud,2021-05-15T01:15:53.925787,0,0,0
124,CU-03,Cuba,La Habana,2021-05-15T01:15:53.925787,657,0,0
125,CU-10,Cuba,Las Tunas,2021-05-15T01:15:53.925787,14,0,0
126,CU-04,Cuba,Matanzas,2021-05-15T01:15:53.925787,68,0,0
127,CU-16,Cuba,Mayabeque,2021-05-15T01:15:53.925787,62,0,0
128,CU-01,Cuba,Pinar del Río,2021-05-15T01:15:53.925787,60,0,0
129,CU-07,Cuba,Sancti Spíritus,2021-05-15T01:15:53.925787,45,0,0
130,CU-13,Cuba,Santiago de Cuba,2021-05-15T01:15:53.925787,88,0,0
131,CU-05,Cuba,Villa Clara,2021-05-15T01:15:53.925787,13,0,0

In [167]:
df_template['Last Update']=''
df_template

,ISO 3166-2 Code,Country,Subdivision,Last Update,Confirmed,Deaths,Recovered
0,AR-B,Argentina,Buenos Aires,,0,0,0
1,AR-K,Argentina,Catamarca,,0,0,0
2,AR-H,Argentina,Chaco,,0,0,0
3,AR-U,Argentina,Chubut,,0,0,0
4,AR-C,Argentina,Ciudad Autonoma de Buenos Aires,,0,0,0
...,...,...,...,...,...,...,...
403,VE-S,Venezuela,Tachira,,0,0,0
404,VE-T,Venezuela,Trujillo,,0,0,0
405,VE-X,Venezuela,Vargas,,0,0,0
406,VE-U,Venezuela,Yaracuy,,0,0,0
407,VE-V,Venezuela,Zulia,,0,0,0

In [3]:
import os
from datetime import datetime, timedelta

import numpy as np
import pandas as pd

DATA_URL = 'https://raw.githubusercontent.com/covid19cubadata/covid19cubadata.github.io/master/data/covid19-casos.csv'
DATA_TEMPLATE_URL = 'https://raw.githubusercontent.com/DataScienceResearchPeru/covid-19_latinoamerica/master/latam_covid_19_data/templates/daily_report.csv'
PATH_CSV = 'utils/scripts/data_collection/data/cuba_temporal/'
PATH_DSRP_DAILY_REPORTS = 'latam_covid_19_data/daily_reports/'
LAST_UPDATE = datetime.today().isoformat()
DICT_PLACES={'Artemisa': 'CU-15',
 'Camagüey': 'CU-09',
 'Ciego de Ávila': 'CU-08',
 'Cienfuegos': 'CU-06',
 'Granma': 'CU-12',
 'Guantánamo': 'CU-14',
 'Holguín': 'CU-11',
 'Isla de la Juventud': 'CU-99',
 'La Habana': 'CU-03',
 'Las Tunas': 'CU-10',
 'Matanzas': 'CU-04',
 'Mayabeque': 'CU-16',
 'Pinar del Río': 'CU-01',
 'Sancti Spíritus': 'CU-07',
 'Santiago de Cuba': 'CU-13',
 'Villa Clara': 'CU-05'}

In [12]:
df = pd.read_csv(DATA_URL,low_memory=False,parse_dates=['fecha_confirmacion'])
df = df[['sexo', 'provincia', 'fecha_confirmacion']]
df=df.fillna(0)
df=df.groupby(['provincia','fecha_confirmacion'],as_index=True).count()
df.reset_index(inplace=True)
df['provincia']=df['provincia'].astype('str')
df['sexo']=df['sexo'].astype('str')
df['ISO 3166-2 Code']=df['provincia'].map(DICT_PLACES)

df_template = pd.read_csv(DATA_TEMPLATE_URL)
df_template = df_template.fillna(0)
df_template['Confirmed'] = df_template['Confirmed'].astype(int)
df_template['Deaths'] = df_template['Deaths'].astype(int)
df_template['Recovered'] = df_template['Recovered'].astype(int)
df_template['Last Update']=''
df_template.loc[df_template['ISO 3166-2 Code'].str.contains('CU-'),'Last Update']=LAST_UPDATE

#array_dates_csv, array_dates = generate_list_dates(PATH_DSRP_DAILY_REPORTS)

print('Starting iteration')
for d in ['2021-05-13']:  # array_dates
    
    df_filtered_by_day=df[df['fecha_confirmacion']==d]
    # Replace values
    for country_region in df_filtered_by_day.index:
        # Confirmed
        value_confirmed=df.loc[(df['ISO 3166-2 Code']==country_region) & (df['fecha_confirmacion']==d),'sexo']
        df_template.loc[df_template['ISO 3166-2 Code']==country_region,'Confirmed']=value_confirmed

        #df_template['Confirmed']=df_template['Confirmed'].astype(int)
        df_template.to_csv('cuba_temporal'+d+'.csv', index=False)

Starting iteration

FileNotFoundError: [Errno 2] No such file or directory: 'utils/scripts/data_collection/data/cuba_temporal/2021-05-13.csv'